.inline-list li{
  display: inline;
  padding-right: 20px;
}

nav.expenses {
  background-color: #AEF0FE;
  color: #1B9DBC;
  text-align: center
}

nav h4 {
  margin: 0;
  margin-bottom: -20px;
}

.expense-card {
  height: 50px;
  margin: 0px;
}
